body {
	background-color: rgba(162, 196, 201, 1);
}

#top-banner {
	position: relative;
	background-color: white;
	height: 150px;
	width: 100%;
}

#container-for-app {
	position: absolute;
	border: 2px solid white;
	top: 210px;
	min-width: 1551px;
	margin: auto;
}

/*	BECAUSE COLUMN-1 IS SPECIAL ---- DO NOT FUCK WITH */

#column-1 {
	float: left;
    position: relative;
    top: 6%;
}

#column-1 div {
	height: 15px;
	width: 70px;
	padding: 2px;
    margin: 2px;
    background-color: white;

    color: black;
    text-align: center;
    font-family: Helvetica;
    font-style: oblique;
}

/* COLUMN AND APP SPACING + DESIGN --- DO NOT FUCK WITH */

.columns {
        float: left;
        position: relative;
        top: 6%;
}

.columns div {
        height: 15px;
        width: 15px;
        border-radius: 20%;
        border: 2px solid #d9d9d9;
        margin: 2px;
}

.measure-marker {
	/* DONT FUCK WITH THE NEXT 2 LINES */
	float: left;
    position: relative;
    /*NOW YOU MAY*/
}

/* INDIVIDUAL MEASURES COLOR --- DO NOT FUCK WITH */

#measure-1 {
	background-color: rgba(0,0,0,0.2);
}

#measure-2 {
	background-color: rgba(0,0,0,0.5);
}

#measure-3 {
	background-color: rgba(0,0,0,0.2);
}

#measure-4 {
	background-color: rgba(0,0,0,0.5);
}

/* CLICKED */

.clicked {
		background-color: white;
        height: 15px;
        width: 15px;
        border-radius: 20%;
        border: 2px solid #d9d9d9;
        margin: 2px;
}

.unclicked {
        height: 15px;
        width: 15px;
        border-radius: 20%;
        border: 2px solid #d9d9d9;
        margin: 2px;
}



















































